/* comments */
.discussion{
  padding: 20px;
  background: #fff;
}

/* Comments */

.pingbacks{
  font-size: 15px;
  padding: 10px 0 20px 0;
  border-bottom: 1px dotted #eee;
  margin: 0 0 20px 0;
}

.pingbacks h4{
  margin: 0;
}

.pingbacks ul{
  padding: 0px;
  margin: 0;
  list-style: none;
}